.imgPerfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: -10px;
    border-radius: 50%;
}

.tecnologias {
    text-indent: unset;
    color: #00FF99;
}

h2 {
    padding-top: 0.5em;
}

section p {
    padding-top: 0.5em;
}

section .soci {
    display: flex;
    justify-content: space-around;
}

section .soci img {
    width: 5em;
    padding: 0 10px;
}

.containerDetail {
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    text-align: left;
}

details {
    cursor: pointer;
}

details summary {
    font: 1.7em Belgrano;
    color: #00FF99;
    text-align: justify;
}

details p {
    font: 1.5em Belgrano;
    cursor: default;
    width: 100vw;
}

details p:last-child {
    padding-bottom: 1em;
}