*, *:before, *:after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}    /* Eliminar uma "borda" invisível que fica no cando da página */ 

.imgPerfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: -10px;
    border-radius: 50%;
}

h2 {
    padding-top: 0.5em;
}

section p {
    padding-top: 0.5em;
}

section .soci {
    display: flex;
    justify-content: space-around;
}

section .soci img {
    width: 3em;
    padding: 0 10px;
}