section {
    min-height: 100vh;
}
.section_a {
    margin: 0 auto;
    max-width: 960px;
    width: 95%;
}

.section_a li {
    font: 1.5em Belgrano;
    text-align: left;
    list-style: none;
    text-indent: 5em;
}

.section_a span {
    font: 400 1em Belgrano;
    color: #00FF99;
}


.video {
    display: flexbox;
    padding: 2em;
    text-align: center;
}