section {
    min-height: 90vh;
}

h1 {
    font-family: 'Fira Sans';
    font-size: xx-large;
}

li {
    list-style: none;
}

.modelos p {
    font-family: 'Cookie';
    font-size: xx-large;
}
span {
    font: 700 'Fira Sans';
    font-size: small;
}

.containersImage img {
    border-radius: 0em;
}
.qrcode img {
    width: 40%;
    height: auto;
    border: 2px solid #00FF99;
}

.logoNome img {
    width: 50%;
    min-width: 250px;
    height: auto;
}

/* Ajuste Para Tablet
*/
@media (min-width: 490px) {
    /*.container {
        color: lawngreen;
        max-width: 440px;
    }*/
}

/* Ajuste Para PC
*/
@media (min-width: 700px) {
    /*.container {
        color: deepskyblue;
        max-width: 650px;
    }*/
    
}