.lista {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
  width: 95%;
}

.lista li {
  font: 1.5em Belgrano;
  text-align: left;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}

.levels {
  text-align: center;
}

.levels button {
  color: whitesmoke;
  width: 100px;
}