.section_a {
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
}
.section_a li {
  font: 1.5em Belgrano;
  text-align: left;
  text-indent: 3em;
  list-style: none;
}

.section_a span {
  font: 400 1em Belgrano;
  color: #00FF99;
}